.header {
    background-color: yellow;
    color: red;
    text-align: center;
    font-weight: 600;
    font-family: "Helvetica", "Times New Roman", "sans-serif";
}

.main {
    font-size: 28px;
}

.sub {
    font-size: 18px;
}

p {
    background-color: black;
    color: white;
}

li, ul {
    background-color: darkgreen;
    color: white;
}



.steps, ol {
    background-color: cyan;
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px;
}